#play-pause {
    display: none;
}

    #play-pause:checked + #play-pause-label::after {
        font-family: sans-serif;
        font-size: 32px;
        content: '❙❙';
    }

#play-pause-label::after {
    font-family: sans-serif;
    font-size: 32px;
    content: '►';
}

#stop {
    display: none;
}

#stop-label::after {
    font-family: sans-serif;
    font-size: 32px;
    content: '⏹';
}
